/* this is for main page - index.html */

body {
    font-family: 'Times New Roman', Times, serif;
}

body.home-page {
    background-image: url('images/food.jpeg');    
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.bg-falafel {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(120deg, #43d41e, #f2f3ed);
}

.bg-enchiladas {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(120deg, #c21c1c, #dbf300);
}

.bg-cake {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(120deg, #faf7f7, #dbf300);
}

#main-page li:hover {
    color: red;
}

#title {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8); 
    border-radius: 5px;
}

.text-centered {
    display: flex;
    justify-content: center;
}

.text-centered ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: rgba(255, 255, 255, 0.8); /* Light background with opacity */
    padding: 10px;
    border-radius: 10px;
}

.text-centered li {
    margin: 0 10px;
}

.text-centered a {
    text-decoration: none;
    color: #030303;
    background-color: rgba(11, 72, 102, 0.8); /* Light background with opacity */
    padding: 5px;
    border-radius: 5px;
}

/* end of main page */

/* falafel page */ 


