/* this is for main page - index.html */

body {
    font-family: 'Times New Roman', Times, serif;
}

body.home-page {
    background-image: url('images/family-cookout.avif');    
}

#main-page li:hover {
    color: red;
}

#title {
    text-align: center;
}

.text-centered {
    display: flex;
    justify-content: center;
}

.text-centered ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.text-centered li {
    margin: 0 10px;
}

.text-centered a {
    text-decoration: none;
    color: #030303;
}

/* end of main page */

/* falafel page */ 


